<div class="row bg-light pb-2 pt-2">
    <span class="text-center" (click)="goToNewContact()" style="cursor: pointer;"> + Nouveau contact</span>
</div>

<form class="d-flex" role="search">
    <input class="form-control m-2" type="search" placeholder="Search" aria-label="Rechercher">
</form>

<div class="container-fluid" style="border-radius: 0px 0px 0px 0px;">
    <div *ngFor="let item of userContacts" class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="border-radius: 0px 0px 0px 0px;">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ item.name }}</h5>
                <!-- <small>3 days ago</small> -->
            </div>
            <p class="mb-1">{{ item.adress }}</p>
            <small>{{ item.phone }}</small>
        </a>
    </div>
</div>
