

<nav class="navbar bg-light sticky-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto" type="button" aria-controls="offcanvasNavbar">Listes
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="navbar-toggler mx-auto" type="button" (click)="goToMap()">Carte
            <i class="fa-solid fa-map-location-dot"></i>
        </button>
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">Filtres
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filtres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Type de bien</label>
                        </div>
                    </li>
                    <li class="nav-item mt-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Ville</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="card text-center border border-0" *ngIf="project">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" (click)="goToDetails()">Fiche</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true">Commentaires</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div><a class="text-primary" (click)="goToAddComment()">+ Ajouter un commentaire</a></div>

        <div *ngFor="let item of project.comments.reverse()">
            <div class="card text-center my-3">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.text }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{item.created_at | date}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center row align-items-center" *ngIf="!project" style="height: 70vh;">
        <app-loader></app-loader>
    </div>
</div>