<input #mapSearchField class="my-map-search-field" type="text" placeholder="Rechercher">
<div *ngIf="apiLoaded | async">
    <google-map google-map height="87.5vh" width="100%" [center]="center" [options]="options">
        <map-marker-clusterer [imagePath]="markerClustererImagePath">
            <map-marker
            *ngFor="let marker of markers"
            [position]="marker.position"
            [label]="marker.label"
            [title]="marker.title"
            [options]="marker.options"
            >
            </map-marker>
        </map-marker-clusterer>
    </google-map>
</div>
