
<div class="container mb-5">
<div class="row text-center mt-4">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Précédent
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Aujourd'hui
        </div>
        <div
          class="btn"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Suivant
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'FR' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Mois
        </div>
        <div
          class="btn"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Semaine
        </div>
        <div
          class="btn"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Jour
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />

<h3 *ngIf="roles == 'paid'">
  Ajouter un évènement

  <div class="clearfix"></div>
</h3>

<div class="table-responsive" *ngIf="roles == 'paid'">
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Commence le</th>
          <th>Fini le</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr >
          <td>
            <input
              type="text"
              class="form-control"
              name="title"
              [(ngModel)]="form.title"
              required
              #title="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && title.errors }"
            />
            <div class="invalid-feedback" *ngIf="title.errors && f.submitted">
                <div *ngIf="title.errors['required']">Veuillez entrer un titre</div>
            </div>
          </td>
         
          <td>
            <input
              class="form-control"
              type="date"
              name="startDate"
              required
              mwlFlatpickr
              [(ngModel)]="form.startDate"
              #startDate="ngModel"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
              [ngClass]="{ 'is-invalid': f.submitted && startDate.errors }"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="date"
              mwlFlatpickr
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button id="submit" name="submit-button" class="btn btn-primary">
              Ajouter
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

</div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>

<div class="overlay" *ngIf="roles == 'free'">
  <p class="text-center text-white" style="margin-top: 40vh;">Seulement pour les utilisateurs payant</p>
</div>