<div class="card-header" *ngIf="user" style="margin-top: 50px; border-radius: 0px; background-color: #000A6A; color: lightgrey;">
    <div class="row mb-3" style="height: 90px;">
        <div class="col-3 ">
            <div class="d-flex align-items-center justify-content-center" style="height: 90px;">
                <img class="border border-1 border-white" src="assets/images/user-profile.png" alt="" style="width: 100%; border-radius: 100%;">
            </div>
        </div>
        <div class="col-7" style="font-size: 70%;">
            <h4 class="mt-2">{{ user.username }}</h4>
            <div *ngIf="roles == 'free'">
                <i-feather class="extra-small" name="lock"></i-feather> Utilisateur gratuit
            </div>
            <div *ngIf="roles == 'paid'">
                <i-feather class="extra-small" name="unlock"></i-feather> Utilisateur payant
            </div>
            <div>
                <i-feather class="extra-small" name="mail"></i-feather> {{ user.email }}
            </div>
        </div>
        <div class="col-2">
            <div class="d-flex align-items-end justify-content-center" style="height: 45px; cursor: pointer;" (click)="logOut()">
                <i-feather name="log-out"></i-feather>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link" style="font-size: 70%; cursor: pointer; color: lightgrey;  border-radius: 0px 0px 25px 0px;" (click)="goToUserDashboard()">
                <div class="text-center">
                    <i-feather class="small" name="trending-up"></i-feather>
                </div>
                Statistiques
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" style="font-size: 70%; border-radius: 20px 20px 0px 0px;">
                <div class="text-center">
                    <i-feather class="small" name="settings"></i-feather>
                </div>
                Paramètres
            </a>
        </li>
    </ul>
</div>
