<div class="card border-0" *ngIf="user">
    <div class="card-header">
        <div class="row mb-3" style="height: 90px;">
            <div class="col-3 ">
                <div class="d-flex align-items-center justify-content-center" style="height: 90px;">
                    <img src="assets/images/user-profile.png" alt="" style="width: 100%;">
                </div>
            </div>
            <div class="col-7">
                <h4 class="mt-2">{{ user.username }}</h4>
                <div>Utilisateur gratuit</div>
                <div>{{ user.email }}</div>
            </div>
            <div class="col-2">
                <div class="d-flex align-items-end justify-content-center" style="height: 45px; cursor: pointer;" (click)="logOut()">
                    <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Statistiques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToSettings()" style="cursor: pointer">Paramètres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-body ">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Prospection
              <span class="badge bg-primary rounded-pill">{{ prospectionStats }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Estimation
              <span class="badge bg-primary rounded-pill">{{ estimationsStats }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Mandat
              <span class="badge bg-primary rounded-pill">{{ mandatsStats }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Visite
              <span class="badge bg-primary rounded-pill">{{ visitesStats }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Contre Visite
              <span class="badge bg-primary rounded-pill">{{ contreVisitesStats }}</span>
            </li>
          </ul>
    </div>
</div>