<div class="card" *ngIf="user">
    
    <app-user-header></app-user-header>

    <div class="container">
        <select class="form-select mt-3" aria-label="Default select example" (change)="goToSelected($event.target)">
            <option value="paramètres">Vue d'ensemble du compte</option>
            <option value="profile-update">Modifier le profile</option>
            <option selected>Mot de passe</option>
            <option value="factures">Factures</option>
        </select>
    </div>
    <div class="card-body mb-5">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [appMatchPassword]="['password', 'confirmPassword']">
                <label class="mb-2 mt-2 form-label" for="inputPassword">Ancien mot de passe</label>
                <input 
                    type="password" 
                    name="oldPassword" 
                    class="form-control" 
                    [(ngModel)]="form.oldPassword" 
                    required minlength="4"
                    #oldPassword="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && oldPassword.errors }" 
                    placeholder="Mot de passe"
                >
                <div class="invalid-feedback" *ngIf="oldPassword.errors && f.submitted">
                    <div *ngIf="oldPassword.errors['required']">Votre mot de passe.</div>
                    <div *ngIf="oldPassword.errors['minlength']">
                        Le mots de passe doit avoir au moins 4 caractères
                    </div>
                </div>
                <label class="mb-2 mt-2 form-label" for="inputPassword">Nouveau mot de passe</label>
                <input 
                    type="password" 
                    name="password" 
                    class="form-control" 
                    [(ngModel)]="form.password" 
                    required minlength="4"
                    #password="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }" 
                    placeholder="Mot de passe"
                >
                <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">Votre mot de passe.</div>
                    <div *ngIf="password.errors['minlength']">
                        Le mots de passe doit avoir au moins 4 caractères
                    </div>
                </div>
                <label class="mb-2 mt-2 form-label">Confirmer le mot de passe</label>
                <input
                    type="password"
                    class="form-control"
                    name="confirmPassword"
                    [(ngModel)]="form.confirmPassword"
                    required
                    matching
                    #confirmPassword="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.errors }"
                />
                <div
                    *ngIf="f.submitted && confirmPassword.errors"
                    class="invalid-feedback"
                >
                    <div *ngIf="confirmPassword.errors['required']">
                    Ce champ est requis
                    </div>
                    <div *ngIf="confirmPassword.errors['matching']">
                    Le mot de passe est différent
                    </div>
                </div>
                <div class="text-center">
                    <button id="submit" name="sign-in-button" class="btn btn-lg mb-3 px-5 no-border-radius signin mt-3 btn">Modifier</button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    {{ errorMessage }}
                </div>
                <div class="alert alert-success" *ngIf="isSuccessful">
                    Votre inscription s'est déroulé avec succès.
                </div>
        </form>
    </div>
</div>
