#map {
    height: 90vh;
    width: 100vw;
}

mgl-map  {
    height: 90vh;
    width: 100vw;
}

.marker {
   
    background-color: black;
    width: 25px;
    height: px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  