<nav class="navbar navbar-expand-lg bg-white navbar-light pb-0 pt-0 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="goToHome()" style="cursor: pointer;"><img src="assets/icons/logo.webp" alt="" style="height: 30px;"></a>
        <div *ngIf="isLoggedIn == false" (click)="goToLogIn()" class="col-2 ms-auto text-end" style="cursor: pointer;">
            <a class="nav-link" ><i-feather name="log-in"></i-feather></a>
         
        </div>
        <div *ngIf="isLoggedIn == false" (click)="goToRegister()" class="col-2 text-end" style="cursor: pointer;">
            <a class="nav-link" ><i-feather name="user-plus"></i-feather></a>
    
        </div>
        <div *ngIf="isLoggedIn" class="col-2 ms-auto text-end" style="cursor: pointer;" (click)="goToUserDashboard()">
            <a class="nav-link"><i-feather name="user"></i-feather></a>
            <!-- <span>Compte</span> -->
        </div>
        <div *ngIf="isLoggedIn" class="col-2 text-end" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a class="nav-link"><i-feather name="menu"></i-feather></a>
            <!-- <span>Compte</span> -->
        </div>
    </div>
    
</nav>

  
<router-outlet></router-outlet>

<!-- <nav class="navbar fixed-bottom border-2 border-top border-white pb-5" style="height: 65px; background-color: #000A6A; color: white;">
    <div class="container-fluid">

        <div class="row col-12 mx-auto">
          <div class="col-2 mx-auto text-center" (click)="goBack()" style="cursor: pointer;">          
                <a class="nav-link active" aria-current="page"><i-feather name="arrow-left"></i-feather></a>
         
            </div>    
            <div class="col-2 mx-auto text-center" (click)="goToHome()" style="cursor: pointer;">          
                <a class="nav-link active" aria-current="page"><i-feather name="home"></i-feather></a>

            </div>

            <div *ngIf="isLoggedIn" (click)="goToProject()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <i-feather name="map"></i-feather>
          
            </div>

            <div *ngIf="isLoggedIn" class="col-2 mx-auto text-center" style="cursor: pointer;">
    
            </div>

            <div *ngIf="isLoggedIn" (click)="goToProjectList()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link"><i-feather name="file-text"></i-feather></a>
       
            </div>
            
            
            
            <div *ngIf="isLoggedIn == false" (click)="goToLogIn()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link" ><i-feather name="log-in"></i-feather></a>
             
            </div>
            <div *ngIf="isLoggedIn == false" (click)="goToRegister()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link" ><i-feather name="user-plus"></i-feather></a>
        
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    
</nav> 

<!-- <div *ngIf="isLoggedIn" id="newProjectButton" class="text-dark" (click)="goToNewProject()" >
    + Ajouter une fiche
</div> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down">
        <div class="modal-content nav-modal" >
            <!-- <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body pt-3">
                <div class="row">
                    <div class="col-4 mx-auto" style="cursor: pointer;"  data-bs-dismiss="modal" (click)="goToUserDashboard()">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh; ">
                            <i-feather name="user"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center" style="height: 5vh;">
                            Profile
                        </div>
                    </div>
                    <div class="col-4 mx-auto" style="cursor: pointer;"  data-bs-dismiss="modal" (click)="goToContacts()">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh; ">
                            <i-feather name="folder"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center" style="height: 5vh;">
                            Contacts
                        </div>
                    </div>
                    <div class="col-4 mx-auto" (click)="goToCalendar()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="calendar"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center" style="height: 5vh;">
                            Agenda
                        </div>
                    </div>            
                </div>
                <div class="row">
                    <!-- <div class="col-4 mx-auto" (click)="goToProjectList()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i class="fa-solid fa-bars fa-2xl"></i>
                        </div>
                        <div class="d-flex align-items-start justify-content-center" style="height: 5vh; ">
                            Liste Fiche
                        </div>
                    </div> -->
                    <div class="col-4 mx-auto" (click)="goToProjectList()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="file-text"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center text-center" style="height: 5vh; ">
                            Liste
                        </div>
                    </div>  
                    <div class="col-4 mx-auto" (click)="goToProjectMap()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="map"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center text-center" style="height: 5vh; ">
                            Carte
                        </div>
                    </div>
                    <div class="col-4 mx-auto" (click)="goToProspection()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="clipboard"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center text-center" style="height: 5vh;">
                            Outils
                        </div>
                    </div>
                    <!-- <div class="col-4 mx-auto" (click)="goToDvf()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="map"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center">
                            Carte DVF
                        </div>
                    </div>    -->
                    <!-- <div class="col-4 mx-auto" (click)="goToDpe()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="map"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center">
                            Carte DPE
                        </div>
                    </div> -->
                           
                </div>
                <div class="row mt-3">
                     
                       
                    <div class="col-4 mx-auto" (click)="goToChatGPT()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="message-square"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center" style="height: 5vh;">
                            Bot
                        </div>
                    </div>

                    
                    <!-- <div class="col-4 mx-auto" (click)="goToProspection()" style="cursor: pointer;"  data-bs-dismiss="modal">
                        <div class="d-flex align-items-end justify-content-center mb-2" style="height: 5vh;">
                            <i-feather name="users"></i-feather>
                        </div>
                        <div class="d-flex align-items-start justify-content-center text-center" style="height: 5vh;">
                            Agence
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<app-toasts-container aria-live="polite" aria-atomic="true"></app-toasts-container>