
.modal-fullscreen-md-down {
    height: 75%;
}

.nav-modal {
    background-color: #B0B8FD; 
    color: white;
}

#newProjectButton {
    position: absolute;
    top: 62px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50px;
    z-index: 1044;
  
    width: 175px;
}

.modal.fade .modal-dialog {
    transform: translate3d(0, 25vh, 0);
}

