
<router-outlet></router-outlet>

<nav class="navbar bg-light fixed-bottom" style="height: 50px;">
    <div class="container-fluid">

        <div class="row col-12 mx-auto">
            <div class="col-2 mx-auto text-center" (click)="goToHome()" style="cursor: pointer;">          
                <a class="nav-link active" aria-current="page"><i class="fa-solid fa-house fa-xl"></i></a>
                <!-- <span>Accueil</span> -->
            </div>
            <div *ngIf="isLoggedIn" (click)="goToCalendar()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link"><i class="fa-solid fa-calendar-days fa-xl"></i></a>
                <!-- <span>Agenda</span> -->
            </div>
            <div *ngIf="isLoggedIn" (click)="goToProject()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link"><i class="fa-solid fa-note-sticky fa-xl"></i></a>
                <!-- <span>Commentaire</span> -->
            </div>
            <div *ngIf="isLoggedIn" (click)="goToChatGPT()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link"><i class="fa-solid fa-robot fa-xl"></i></a>
                <!-- <span>ChatGPT</span> -->
            </div>
            
            <div *ngIf="isLoggedIn" (click)="goToUserDashboard()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link"><i class="fa-solid fa-user fa-xl"></i></a>
                <!-- <span>Compte</span> -->
            </div>
            <div *ngIf="isLoggedIn == false" (click)="goToLogIn()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link" ><i class="fa-sharp fa-solid fa-right-to-bracket fa-xl"></i></a>
                <!-- <span>Connexion</span> -->
            </div>
            <div *ngIf="isLoggedIn == false" (click)="goToRegister()" class="col-2 mx-auto text-center" style="cursor: pointer;">
                <a class="nav-link" ><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                <!-- <span>Inscription</span> -->
            </div>
        </div>

        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
