<div class="container-xl bg-white text-dark pb-5">



    <div class="row mb-5">

        <div class="col-12">
            <h1 class="text-start fw-bold mt-3 mb-4 text-center fw-normal">Modifier la fiche</h1>
        </div>

        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <label class="mb-2 mt-2 form-label" for="inputEmail">Status de la prospection</label>
            <select class="form-select" name="status" [(ngModel)]="form.status" required #status="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && status.errors }">
                <option selected disabled>--Selectionner une option--</option>
                <option value="opportunite">Opportunité</option>
                <option value="prospecte">Prospecté</option>
                <option value="absent">Absent</option>
                <option value="a-relancer">A relancer</option>
                <option value="estimation">Estimation</option>
                <option value="en-vente">En vente</option>
                <option value="pas-opportunite">Pas d'opportunité</option>
                <option value="archiver">Archivé</option>
            </select>
            <div class="invalid-feedback" *ngIf="status.errors && f.submitted">
                <div *ngIf="status.errors['required']">Veuillez choisir un type de bien</div>
            </div>
            <label class="mb-2 mt-2 form-label" for="inputEmail">Type de bien</label>
            <select class="form-select" name="type" [(ngModel)]="form.type" required #type="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && type.errors }">
                <option selected disabled>--Selectionner une option--</option>
                <option value="maison">Maison</option>
                <option value="appartement">Appartement</option>
                <option value="immeuble">Immeuble</option>
                <option value="local">Local commercial</option>
                <option value="entrepot">Entrepot/Hangar</option>
                <option value="terrain">Terrain</option>
                <option value="other">Autre</option>
            </select>
            <div class="invalid-feedback" *ngIf="type.errors && f.submitted">
                <div *ngIf="type.errors['required']">Veuillez choisir un type de bien</div>
            </div>

            <h5 class="mt-4 text-center">Informations personelles</h5>

            <label class="mb-2 mt-2 form-label" for="inputEmail">Nom et prénom</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && name.errors }" placeholder="">
            <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
                <div *ngIf="name.errors['required']">Veuillez entrer un nom.</div>
            </div>

            <label class="mb-1 mt-3 form-label" for="inputEmail">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.errors }" placeholder="Email">
            <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
            </div>

            <label class="mb-1 mt-3 form-label" for="inputEmail">Numéro de téléphone</label>
            <input type="text" class="form-control" name="phone_numbers" [(ngModel)]="form.phone_numbers" minlength="10"
                maxlength="10" #phone_numbers="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && phone_numbers.errors }" placeholder="Téléphone">
            <div class="invalid-feedback" *ngIf="phone_numbers.errors && f.submitted">
                <div *ngIf="phone_numbers.errors['minlength']">
                    Ce numéro n'est pas valide.
                </div>
                <div *ngIf="phone_numbers.errors['maxlength']">
                    Ce numéro n'est pas valide.
                </div>
            </div>

            <h5 class="mt-4 text-center">Coordonnées</h5>

            <label class="mb-1 mt-3 form-label" for="inputEmail">Ville</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="form.city" required #city="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && city.errors }" placeholder="Ville">
            <div class="invalid-feedback" *ngIf="city.errors && f.submitted">
                <div *ngIf="city.errors['required']">Veuillez entrer une ville</div>
            </div>
            <label class="mb-1 mt-3 form-label" for="inputEmail">Adresse</label>
            <input type="text" class="form-control" name="adress" [(ngModel)]="form.adress" required minlength="5"
                #adress="ngModel" [ngClass]="{ 'is-invalid': f.submitted && adress.errors }"
                placeholder="Adresse du bien">
            <div class="invalid-feedback" *ngIf="adress.errors && f.submitted">
                <div *ngIf="adress.errors['required']">Veuillez entrer une adresse</div>
                <div *ngIf="adress.errors['minlength']">
                    Cette adresse n'est pas valide.
                </div>
                <div *ngIf="adress.errors['maxlength']">
                    Cette adresse n'est pas valide.
                </div>
            </div>
            <label class="mb-1 mt-3 form-label" for="inputEmail">Complément d'adresse</label>
            <input type="text" class="form-control" name="complement_adress" [(ngModel)]="form.complement_adress"
                #complement_adress="ngModel" [ngClass]="{ 'is-invalid': f.submitted && complement_adress.errors }"
                placeholder="Complément d'adresse">
            <div class="invalid-feedback" *ngIf="complement_adress.errors && f.submitted">
            </div>

            <h5 class="mt-4 mb-3 text-center">Photo</h5>

            <div class="col-12">
                <input class="form-control" type="file" accept="image/*" (change)="selectFile($event)" />
            </div>

            <div class="mt-3">
                <img [src]="preview" class="preview w-100">
            </div>

            <div *ngIf="currentFile && progress" class="progress my-3">
                <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                    {{ progress }}%
                </div>
            </div>

            <div class="text-center">
                <button id="submit" name="sign-in-button"
                    class="btn btn-lg mb-3 px-5 no-border-radius signin mt-3 btn btn-primary">Modifier</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                {{ errorMessage }}
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
                La fiche a bien été ajouté.
            </div>
        </form>

    </div>



</div>