<nav class="navbar sticky-top" style="background-color: #000A6A;">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto btn" type="button" aria-controls="offcanvasNavbar" (click)="goToList()">Listes
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="navbar-toggler mx-auto btn" type="button" (click)="goToMap()">Carte
            <i class="fa-solid fa-map-location-dot"></i>
        </button>
        <button class="navbar-toggler mx-auto btn" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">Filtres
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filtres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Type de bien</label>
                        </div>
                    </li>
                    <li class="nav-item mt-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Ville</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="row bg-light pb-2 pt-2">
    <span class="text-center" (click)="goToNewProject()" style="cursor: pointer;"> + Creation d'une nouvelle fiche</span>
</div>

<div class="container-xl bg-white text-dark mb-5">
    <form method="post">
      <div class="row ">
        <div class="col-lg-6 mx-auto mt-4 my-auto">
  
          <div class="row">
  
            <div class="col-12">
              <h1 class="text-start fw-bold mt-3 mb-4 text-center fw-normal">Modifier la fiche</h1>
            </div>
  
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                <label class="mb-2 mt-2 form-label" for="inputEmail">Status de la prospection</label>
                <select 
                    class="form-select" 
                    name="status" 
                    [(ngModel)]="form.status" 
                    required
                    #status="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && status.errors }"
                >
                    <option selected disabled>--Selectionner une option--</option>
                    <option value="prospection">Prospection</option>
                    <option value="estimation">Estimation</option>
                    <option value="mandat">Mandat</option>
                    <option value="visite">Visite</option>
                    <option value="contre-visite">Contre visite</option>
                </select>
                <div class="invalid-feedback" *ngIf="status.errors && f.submitted">
                    <div *ngIf="status.errors['required']">Veuillez choisir un type de bien</div>
                </div>
                <label class="mb-2 mt-2 form-label" for="inputEmail">Type de bien</label>
                <select 
                    class="form-select" 
                    name="type" 
                    [(ngModel)]="form.type" 
                    required
                    #type="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && type.errors }"
                >
                    <option selected disabled>--Selectionner une option--</option>
                    <option value="maison">Maison</option>
                    <option value="appartement">Appartement</option>
                    <option value="immeuble">Immeuble</option>
                    <option value="local">Local commercial</option>
                    <option value="entrepot">Entrepot/Hangar</option>
                    <option value="terrain">Terrain</option>
                    <option value="other">Autre</option>
                </select>
                <div class="invalid-feedback" *ngIf="type.errors && f.submitted">
                    <div *ngIf="type.errors['required']">Veuillez choisir un type de bien</div>
                </div>
                <label class="mb-2 mt-2 form-label" for="inputEmail">Ville</label>
                <input 
                    type="text" 
                    class="form-control"  
                    name="city" 
                    [(ngModel)]="form.city" 
                    required
                    #city="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && city.errors }"
                    placeholder="Ville"
                >
                <div class="invalid-feedback" *ngIf="city.errors && f.submitted">
                    <div *ngIf="city.errors['required']">Veuillez entrer une ville</div>
                </div>
                <label class="mb-2 mt-2 form-label" for="inputEmail">Adresse</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="adress" 
                    [(ngModel)]="form.adress" 
                    required 
                    minlength="5"
                    #adress="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && adress.errors }"
                    placeholder="Adresse du bien"
                >
                <div class="invalid-feedback" *ngIf="adress.errors && f.submitted">
                    <div *ngIf="adress.errors['required']">Veuillez entrer une adresse</div>
                    <div *ngIf="adress.errors['minlength']">
                        Cette adresse n'est pas valide.
                    </div>
                    <div *ngIf="adress.errors['maxlength']">
                        Cette adresse n'est pas valide.
                    </div>
                </div>
                <label class="mb-2 mt-2 form-label" for="inputEmail">Complément d'adresse</label>
                <input 
                    type="text" 
                    class="form-control"  
                    name="complement_adress" 
                    [(ngModel)]="form.complement_adress" 
                    #complement_adress="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && complement_adress.errors }"
                    placeholder="Complément d'adresse"
                >
                <div class="invalid-feedback" *ngIf="complement_adress.errors && f.submitted">
                </div>
                <label class="mb-2 mt-2 form-label" for="inputEmail">Numéro de téléphone</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="phone_numbers" 
                    [(ngModel)]="form.phone_numbers" 
                    minlength="10"
                    maxlength="10"
                    #phone_numbers="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && phone_numbers.errors }"
                    placeholder="Téléphone"
                >
                <div class="invalid-feedback" *ngIf="phone_numbers.errors && f.submitted">
                    <div *ngIf="phone_numbers.errors['minlength']">
                        Ce numéro n'est pas valide.
                    </div>
                    <div *ngIf="phone_numbers.errors['maxlength']">
                        Ce numéro n'est pas valide.
                    </div>
                </div>
                <div class="text-center">
                    <button id="submit" name="sign-in-button" class="btn btn-lg mb-3 px-5 no-border-radius signin mt-3 btn btn-primary">Modifier</button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    {{ errorMessage }}
                </div>
                <div class="alert alert-success" *ngIf="isSuccessful">
                    La fiche a bien été ajouté.
                </div>
            </form>
          
          </div>
  
        </div>
  
      </div>
      
    </form>
    
  </div>