
<nav class="fixed-top" style="margin-top: 50px;">
     <div class="container-fluid p-0 border-bottom" style="background-color: #000A6A;">
          <div class="container-fluid row py-3" style="background-color: #000A6A;">
              <div *ngIf="ficheNumber" class="col-5 me-auto text-end text-white" style="font-size: 80%;">
                  {{ficheNumber}} fiches
              </div>
              <div *ngIf="!ficheNumber" class="col-5 me-auto text-end text-white" style="font-size: 80%;">
                  0 fiches
              </div>
              <div class="col-5 ms-auto text-white" style="font-size: 80%; cursor: pointer;" (click)="goToNewProject()">
                  + Ajouter une fiche
              </div>
          </div>
          <div class="container-fluid py-2" style="background-color: #ffffff; border-radius: 15px 15px 0px 0px;">
              <div class="row">
                  <button class="navbar-toggler mx-auto col-3 py-1 btn text-dark border" type="button" style="border-radius: 25px; background-color: #ffffff; font-size: 100%;" (click)="goToListe()">Listes
                      <i class="fa-solid fa-bars"></i>
                  </button>
                  <button class="navbar-toggler mx-auto col-3 py-1 btn" type="button" style="border-radius: 25px; font-size: 100%;">Carte
                      <i class="fa-solid fa-map-location-dot"></i>
                  </button>
                  <button class="navbar-toggler btn mx-auto col-3 py-1  text-dark border" type="button" style="border-radius: 25px; background-color: #ffffff; font-size: 100%;" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">Filtres
                  <i class="fa-solid fa-arrow-down-wide-short"></i>
                  </button>
              </div>
          </div>
      </div>
</nav>

<!-- <div class="row bg-light">
     <span class="text-center pb-2" (click)="goToNewProject()" style="cursor: pointer; background-color: #000A6A; color: white;"> + Creation d'une nouvelle fiche</span>
</div> -->


<div class="fixed-top" style="height: calc(100% - 145.8px); margin-top: 145.8px;"
     leaflet 
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"
     [leafletLayersControlOptions]="leafletLayersControlOptions"
     (leafletMapReady)="onMapReady($event)"  
     (leafletMapMoveEnd)="getUserProjects($event)"
     [leafletLayers]="layerMainGroup"
     [leafletMarkerCluster]="markerClusterData"
     (leafletMarkerClusterReady)="markerClusterReady($event)"
>
</div>
<!-- <div class="text-dark bg-white" id="dpeButton" (click)="changeToDpeMarker()"><i-feather name="layers"></i-feather> DPE</div> -->
<!-- <div class="text-dark bg-white" id="projectButton" (click)="changeToProjectMarker()"><i-feather name="layers"></i-feather>  Prosp</div> -->
<!-- <div id="menuIcon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
aria-controls="offcanvasNavbar">
     <i-feather name="more-vertical" class="big"></i-feather>
</div>

<div id="backButton" (click)="goBack()">
     <i-feather name="arrow-left" class="big"></i-feather>
</div> -->

<div class="dropdown dropup" id="projectButton">
     <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i-feather name="layers"></i-feather>
     </button>
     <ul class="dropdown-menu">
          <!-- <li><a class="dropdown-item" (click)="changeToDpeMarker()" style="cursor: pointer;">DPE</a></li>
          <li><a class="dropdown-item" (click)="changeToProjectMarker()" style="cursor: pointer;">Prospection</a></li> -->
          <div class="form-check ms-2" (click)="changeToProjectMarker()">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
               <label class="form-check-label" for="flexRadioDefault2">
                    Prospection
               </label>
          </div>
          <div class="form-check ms-2" (click)="changeToDpeMarker()">
               <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
               <label class="form-check-label" for="flexRadioDefault1">
                    DPE
               </label>
          </div>
     </ul>
</div>

<!-- <div id="newProjectButton" class="text-dark" (click)="goToNewProject()" >
     <i-feather name="plus" style="width: 40px; height: 40px;"></i-feather>
</div> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
     <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filtres</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
               <li class="nav-item">
                    <div class="form-floating">
                         <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                              (change)="onFilterChangeType($event)">
                              <option selected>Choisissez</option>
                              <option data-bs-dismiss="offcanvas" value="maison">Maison</option>
                              <option data-bs-dismiss="offcanvas" value="appartement">Appartement</option>
                              <option data-bs-dismiss="offcanvas" value="immeuble">Immeuble</option>
                         </select>
                         <label for="floatingSelect">Type de bien</label>
                    </div>
               </li>
               <li class="nav-item mt-3">
                    <div class="form-floating" (change)="onDateChange($event)">
                         <input type="date" id="floatingSelectDate" class="form-control">
                         <label for="floatingSelectDate">A partir de</label>
                    </div>
               </li>
          </ul>
     </div>
</div>