<!-- 

<nav class="navbar sticky-top" style="height: 50px; background-color: #000A6A;">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto btn" type="button" aria-controls="offcanvasNavbar" (click)="goToList()">Listes
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="navbar-toggler mx-auto btn" type="button" (click)="goToMap()">Carte
            <i class="fa-solid fa-map-location-dot"></i>
        </button>
        <button class="navbar-toggler mx-auto btn" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">Filtres
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filtres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Type de bien</label>
                        </div>
                    </li>
                    <li class="nav-item mt-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Ville</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="row bg-light">
    <span class="text-center pb-2" (click)="goToNewProject()" style="cursor: pointer; background-color: #000A6A; color: white;"> + Creation d'une nouvelle fiche</span>
</div> -->

<nav class="fixed-top" style="margin-top: 50px;">
    <div class="container-fluid p-0 border-bottom" style="background-color: #000A6A;">
         <div class="container-fluid row py-3" style="background-color: #000A6A;">
             <div class="col-5 me-auto text-end text-white" style="font-size: 80%;">
                 55 fiches
             </div>
             <div class="col-5 ms-auto text-white" style="font-size: 80%; cursor: pointer;" (click)="goToNewProject()">
                 + Ajouter une fiche
             </div>
         </div>
         <div class="container-fluid py-2" style="background-color: #ffffff; border-radius: 15px 15px 0px 0px;">
             <div class="row">
                 <button class="navbar-toggler mx-auto col-3 py-1 btn text-dark text-white" type="button" style="border-radius: 25px; font-size: 100%;" (click)="goToList()">Listes
                     <i class="fa-solid fa-bars"></i>
                 </button>
                 <button class="navbar-toggler mx-auto col-3 py-1 btn text-dark border" type="button" style="border-radius: 25px; background-color: #ffffff; font-size: 100%;" (click)="goToMap()">Carte
                     <i class="fa-solid fa-map-location-dot"></i>
                 </button>
                 <button class="navbar-toggler btn mx-auto col-3 py-1  text-dark border" type="button" style="border-radius: 25px; background-color: #ffffff; font-size: 100%;">Filtres
                 <i class="fa-solid fa-arrow-down-wide-short"></i>
                 </button>
             </div>
         </div>
     </div>
</nav>

<div class="container-fluid" style="height: calc(100% - 145.8px); margin-top: 145.8px;">
    <div class="card border border-0 mb-5" *ngIf="project">
        <div class="card-header">
            <div class="mb-2">
                <select class="form-select" aria-label="Default select example" (change)="changeStatus($event.target)">
                    <option *ngFor="let item of options" [selected]="item.value === project.status" [value]="item.value">{{ item.text }}</option>
                </select>
            </div>
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true" style="font-size: 70%;">
                        <div class="text-center">
                            <i-feather class="small" name="file-text"></i-feather>
                        </div>
                        Fiche
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="goToComments()" style="font-size: 70%; cursor: pointer; color: #000A6A;">
                        <div class="text-center">
                            <i-feather class="small" name="activity"></i-feather>
                        </div>
                        Commentaires
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <p class="text-start ms-3 mt-3 col-6"><b>Type :</b> {{project.type}}</p>
            <p class="text-end mt-3 col-5 text-muted">{{project.updated_at | date}}</p>
        </div>
        <img *ngIf="image" [src]="image" class="card-img-top">
        <img *ngIf="!image" src="assets/images/50819.jpg" class="card-img-top" alt="...">
        <div class="card-body mb-5">
            <h5 class="card-title text-center">{{project.name}}</h5>
            <p class="card-title text-center">{{project.phone_numbers}}</p>
            <p class="card-title text-center">{{project.email}}</p>
            <p class="card-title text-center">{{project.city}}</p>
            <p class="card-text text-center">{{project.adress}}</p>
            <p class="card-text text-center">{{project.complement_adress}}</p>
            <p class="card-text text-center">{{project.phone_numbers}}</p>

            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Informations supplémentaires
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body row" style="font-size: 80%;">
                            <div class="card-text col-6">Numéro DPE :</div>
                            <div class="col-6 text-end">{{etiquette?.["N°DPE"]}}</div>
                            <div class="card-text col-6">Etiquette DPE :</div>
                            <div class="col-6 text-end">{{etiquette?.Etiquette_DPE}}</div>
                            <div class="card-text col-6">Date DPE :</div>
                            <div class="col-6 text-end">{{etiquette?.["Date_établissement_DPE"]}}</div>
                            <div class="card-text col-6">Surface habitable :</div>
                            <div class="col-6 text-end">{{etiquette?.["Surface_habitable_logement"]}}</div>
                            <div class="card-text col-6">Nombres pieces :</div>
                            <div class="col-6 text-end">{{dvf?.["nombre_pieces_principales"]}}</div>
                            <div class="card-text col-6">Date construction :</div>
                            <div class="col-6 text-end">{{etiquette?.["Année_construction"]}}</div>
                            <div class="card-text col-6">Valeur fonciere :</div>
                            <div class="col-6 text-end">{{dvf?.["valeur_fonciere"]}} €</div>
                            <div class="card-text col-6">Derniere mutation :</div>
                            <div class="col-6 text-end">{{dvf?.["date_mutation"]}}</div>                   
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a class="btn" (click)="clickUpdate()">Modifier la fiche</a>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="text-center row align-items-center" *ngIf="!project" style="height: 70vh;">
        <app-loader></app-loader>
    </div>
</div>