

<nav class="navbar bg-light sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto" type="button" aria-controls="offcanvasNavbar" (click)="goToList()">Listes
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="navbar-toggler mx-auto" type="button" (click)="goToMap()">Carte
            <i class="fa-solid fa-map-location-dot"></i>
        </button>
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">Filtres
            <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filtres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Type de bien</label>
                        </div>
                    </li>
                    <li class="nav-item mt-3">
                        <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Choisissez</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Ville</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="card border border-0 mb-5" *ngIf="project">
    <div class="card-header">
        <div class="mb-2">
            <select class="form-select" aria-label="Default select example" (change)="changeStatus($event.target)">
                <option *ngFor="let item of options" [selected]="item.value === project.status" [value]="item.value">{{ item.text }}</option>
            </select>
        </div>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Fiche</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="goToComments()">Commentaires</a>
            </li>
        </ul>
    </div>
    <p class="text-start ms-3 mt-3"><b>Type de bien :</b> {{project.type}}</p>
    <img src="assets/images/50819.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">{{project.city}}</h5>
        <p class="card-text text-center">{{project.adress}}</p>
        <p class="card-text">{{project.complementAdress}}</p>

        <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Informations supplémentaires
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body row">
                        <div class="card-text col-6">Numéro DPE :</div>
                        <div class="col-6 text-end">{{etiquette?.["N°DPE"]}}</div>
                        <div class="card-text col-6">Etiquette DPE :</div>
                        <div class="col-6 text-end">{{etiquette?.Etiquette_DPE}}</div>
                        <div class="card-text col-6">Date DPE :</div>
                        <div class="col-6 text-end">{{etiquette?.["Date_établissement_DPE"]}}</div>
                        <div class="card-text col-6">Surface habitable :</div>
                        <div class="col-6 text-end">{{etiquette?.["Surface_habitable_logement"]}}</div>
                        <div class="card-text col-6">Nombres pieces :</div>
                        <div class="col-6 text-end">{{dvf?.["nombre_pieces_principales"]}}</div>
                        <div class="card-text col-6">Date construction :</div>
                        <div class="col-6 text-end">{{etiquette?.["Année_construction"]}}</div>
                        <div class="card-text col-6">Valeur fonciere :</div>
                        <div class="col-6 text-end">{{dvf?.["valeur_fonciere"]}} €</div>
                        <div class="card-text col-6">Derniere mutation :</div>
                        <div class="col-6 text-end">{{dvf?.["date_mutation"]}}</div>                   
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <a href="#" class="btn btn-primary">Modifier la fiche</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center row align-items-center" *ngIf="!project" style="height: 70vh;">
        <app-loader></app-loader>
    </div>
</div>