<div class="card border-bottom-0" *ngIf="user">

    <app-user-header></app-user-header>

    <div class="container">
        <select class="form-select mt-3" aria-label="Default select example" (change)="goToSelected($event.target)">
            <option value="paramètres">Vue d'ensemble du compte</option>
            <option value="profile-update">Modifier le profile</option>
            <option value="password-update">Mot de passe</option>
            <option selected>Factures</option>
        </select>
    </div>

    <div class="card-body mb-5">
    
        <table class="table table-hover text-center" style="font-size: 60%;">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Numéro de commande</th>
                    <th scope="col">Prix</th>
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr (click)="goToReceiptDetails(item)" *ngFor="let item of order">
                    <th scope="row">{{item.created_at | date:'d/M/y'}}</th>
                    <td>{{item.order_id}}</td>
                    <td>{{item.price}}€</td>
                    <!-- <td>Afficher les infos</td> -->
                </tr>
            </tbody>
        </table>
       
    </div>
</div>
