
<div class="container-xl bg-white text-dark mb-5">
    <form method="post">
      <div class="row ">
        <div class="col-lg-6 mx-auto mt-4 my-auto" style="border-radius: 6px">
  
          <div class="row">
  
            <div class="col-12">
              <h1 class="text-start fw-bold mt-3 mb-4 text-center fw-normal">Ajouter un nouveau contact</h1>
            </div>
  
            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                
                <label class="mb-2 mt-2 form-label" for="inputEmail">Nom</label>
                <input 
                    type="text" 
                    class="form-control"  
                    name="name" 
                    [(ngModel)]="form.name" 
                    required
                    #name="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
                    placeholder=""
                >
                <div class="invalid-feedback" *ngIf="name.errors && f.submitted">
                    <div *ngIf="name.errors['required']">Veuillez entrer un nom</div>
                </div>

                <label class="mb-2 mt-2 form-label" for="inputEmail">Adresse</label>
                <input 
                    type="text" 
                    class="form-control"  
                    name="adress" 
                    [(ngModel)]="form.adress" 
                    required
                    #adress="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && adress.errors }"
                    placeholder=""
                >
                <div class="invalid-feedback" *ngIf="adress.errors && f.submitted">
                    <div *ngIf="adress.errors['required']">Veuillez entrer une adresse</div>
                </div>

                <label class="mb-2 mt-2 form-label" for="inputEmail">Numéro de téléphone</label>
                <input 
                    type="text" 
                    class="form-control"  
                    name="phone" 
                    [(ngModel)]="form.phone" 
                    required
                    #phone="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && phone.errors }"
                    placeholder=""
                >
                <div class="invalid-feedback" *ngIf="phone.errors && f.submitted">
                    <div *ngIf="phone.errors['required']">Veuillez entrer un numéro de téléphone</div>
                </div>
               
                <div class="text-center">
                    <button id="submit" name="sign-in-button" class="btn btn-lg mb-3 px-5 no-border-radius signin mt-3 btn">Ajouter</button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    {{ errorMessage }}
                </div>
                <div class="alert alert-success" *ngIf="isSuccessful">
                    Le contact a bien été ajouté.
                </div>
            </form>
          
          </div>
  
        </div>
  
      </div>
      
    </form>
    
  </div>