/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet-geosearch/dist/geosearch.css";

body {
    margin:0px;
    width:100vw;
    height:100vh;
    overflow:hidden;
  }
